<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Admin change password</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    {% include "jsfiles.html" %}
    <script>
        $(document).ready(function () {
            $("#form1").validate();
        })
    </script>
</head>
<body style="background-image: url({% static 'images/sky2.jpg' %})">
{#{% include "NavbarAdmin.html" %}#}
{% include "indexnavigation.html" %}
<br>
<br>
<br>
<div class="container mt-5 p-sm-4 rounded" style="background: rgba(255,255,255,0.6);">
    <h1 class="text-center">Change Password</h1>
    <br>
    <form action="adminchangepassword" id="form1" method="post">
        {% csrf_token %}
        <div class="offset-sm-3 col-sm-6 font-weight-bold">
            <div class="form-group">
                Enter Old Password
                <input type="password" data-rule-required="true" class="form-control" name="oldpassword">

            </div>
            <div class="form-group">
                Enter New Password
                <input type="password" data-rule-required="true" id="newpassword" class="form-control"
                       name="newpassword">

            </div>
            <div class="form-group">
                Confirm New Password
                <input type="password" data-rule-required="true" data-rule-equalto="#newpassword" class="form-control"
                       name="confirmpassword">

            </div>
            <div class="text-center">
                <input type="submit" value="Change" class="btn btn-success font-weight-bold">
            </div>
        </div>
    </form>
    {{ ar.message }}

</div>

</body>
</html>