{#<section class="footer-w3layouts-bottem py-lg-4 py-md-3 py-sm-3 py-3">#}
{#    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">#}
{#        <div class="row ">#}
{#            <div class="footer-bottom-info col-lg-4 col-md-4 ">#}
{#                <h4 class="pb-lg-4 pb-md-3 pb-3 ">Address</h4>#}
{#                <div class="bottom-para ">#}
{#                    <div class="footer-office-hour">#}
{#                        <ul>#}
{#                            <li class="mb-2">#}
{#                                <h6>Address</h6>#}
{#                            </li>#}
{#                            <li>#}
{#                                <p>Melbourne,south Brisbane,#}
{#                                    <br>QLD 4101,Aurstralia.</p>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <ul>#}
{#                            <li class="my-2">#}
{#                                <h6>Phone</h6>#}
{#                            </li>#}
{#                            <li>#}
{#                                <p>+ 1 (234) 567 8901</p>#}
{#                            </li>#}
{#                            <li class="my-2">#}
{#                                <h6>Email</h6>#}
{#                            </li>#}
{#                            <li>#}
{#                                <p>#}
{#                                    <a href="mailto:info@example.com">info@example.com</a>#}
{#                                </p>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="footer-bottom-info col-lg-4 col-md-4 ">#}
{#                <h4 class="pb-lg-4 pb-md-3 pb-3 ">Twitter Us</h4>#}
{#                <div class="footer-office-hour">#}
{#                    <ul>#}
{#                        <li>#}
{#                            <p>sit amet consectetur adipiscing</p>#}
{#                        </li>#}
{#                        <li class="my-1">#}
{#                            <p>#}
{#                                <a href="mailto:info@example.com">info@example.com</a>#}
{#                            </p>#}
{#                        </li>#}
{#                        <li class="mb-3">#}
{#                            <span class="font-italic">Posted 3 days ago.</span>#}
{#                        </li>#}
{#                        <li>#}
{#                            <p>sit amet consectetur adipiscing</p>#}
{#                        </li>#}
{#                        <li class="my-1">#}
{#                            <p>#}
{#                                <a href="mailto:info@example.com">info@example.com</a>#}
{#                            </p>#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="font-italic">Posted 3 days ago.</span>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="footer-bottom-info col-lg-4 col-md-4 ">#}
{#                <h4 class="pb-lg-4 pb-md-3 pb-3 ">NewsLetter</h4>#}
{#                <div class="newsletter">#}
{#                    <form action="#" method="post" class="d-flex">#}
{#                        <input type="email" name="Your Email" class="form-control" placeholder="Your Email" required="">#}
{#                        <button class="btn1">#}
{#                            <span class="fa fa-envelope-o" aria-hidden="true"></span>#}
{#                        </button>#}
{#                    </form>#}
{#                </div>#}
{#                <div class="footer-office-hour mt-3">#}
{#                    <p>vehicula velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit#}
{#                        sagittis vehicula</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- move icon -->#}
{#        <div class="text-center mt-lg-5 mt-md-4 mt-3">#}
{#            <a href="#home" class="move-top text-center mt-3">#}
{#                <span class="fa fa-arrow-up" aria-hidden="true"></span>#}
{#            </a>#}
{#        </div>#}
{#        <!--//move icon -->#}
{#    </div>#}
{#</section>#}

<!--footer-copy-right -->
<footer class="bottem-wthree-footer text-center fixed-bottom py-md-4 py-3" style="background: black">
    <p style="color: white">
        © 2019 The Newsville. All Rights Reserved | Design by
        <a href="#" target="_blank" style="color: #ffc107">Rahul</a>
    </p>
</footer>
<!--//footer-copy-right -->
